<h1>Listing logagents</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for logagent in @logagents %>
  <tr>
    <td><%=h logagent.name %></td>
    <td><%= link_to 'Show', logagent %></td>
    <td><%= link_to 'Edit', edit_logagent_path(logagent) %></td>
    <td><%= link_to 'Destroy', logagent, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New logagent', new_logagent_path %>
