<h1>Editing audit</h1>

<% form_for(@audit) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :creator_id %><br />
    <%= f.text_field :creator_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @audit %> |
<%= link_to 'Back', audits_path %>
