<h1>Editing announcement_type</h1>

<% form_for(@announcement_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @announcement_type %> |
<%= link_to 'Back', announcement_types_path %>
