<h1>Editing pref</h1>

<% form_for(@pref) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :preference_name %><br />
    <%= f.text_field :preference_name %>
  </p>
  <p>
    <%= f.label :preference_selection %><br />
    <%= f.text_field :preference_selection %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @pref %> |
<%= link_to 'Back', prefs_path %>
