<h1>Editing inspection</h1>

<% form_for(@inspection) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :private %><br />
    <%= f.check_box :private %>
  </p>
  <p>
    <%= f.label :creator_id %><br />
    <%= f.text_field :creator_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @inspection %> |
<%= link_to 'Back', inspections_path %>
